@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>NO SE PUEDE ELIMINAR ESTE CIUDADANO</h1>
<h3>Debido a que ha sido asignado en alguna de las siguientes opciones:</h3>
<h3>
    <ul>
        <li>Gestión</li>
        <li>Apoyo</li>
        <li>Evento</li>
        <li>Asociación</li>
    </ul>
</h3>