
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        @Html.Raw(ViewBag.JavaScriptFunction)
    });
</script>

<div class="row">
    <table style="border:none; max-width=100%">
        <tr>
            <td align="left">
                <img src="~/Images/cumple.jpg" height='100'/>
            </td>
            <td align="center">
                <h1 class="letraAzulEncabezado">CUMPLEAÑOS</h1>
            </td>
        </tr>
    </table>
</div>


<div class="row">
    <div class="col-md-12 row" align="center">
        <div class="col-md-1  col-sm-1" align="center">
            <div id="Mes_1" align="center" class="fondoMenuFactor" onclick='SeleccionaMes(1);'>
                <p style="font-size:1vw;">ENERO</p>
            </div>
        </div>
        <div class="col-md-1  col-sm-1" align="center">
            <div id="Mes_2" align="center" class="fondoMenuFactor" onclick='SeleccionaMes(2);'>
                <p style="font-size:1vw;">FEBRERO</p>
            </div>
        </div>
        <div class="col-md-1 col-sm-1" align="center">
            <div id="Mes_3" align="center" class="fondoMenuFactor" onclick='SeleccionaMes(3);'>
                <p style="font-size:1vw;">MARZO</p>
            </div>
        </div>
        <div class="col-md-1 col-sm-1" align="center">
            <div id="Mes_4" align="center" class="fondoMenuFactor" onclick='SeleccionaMes(4);'>
                <p style="font-size:1vw;">ABRIL</p>
            </div>
        </div>
        <div class="col-md-1 col-sm-1" align="center">
            <div id="Mes_5" align="center" class="fondoMenuFactor" onclick='SeleccionaMes(5);'>
                <p style="font-size:1vw;">MAYO</p>
            </div>
        </div>
        <div class="col-md-1 col-sm-1" align="center">
            <div id="Mes_6" align="center" class="fondoMenuFactor" onclick='SeleccionaMes(6);'>
                <p style="font-size:1vw;">JUNIO</p>
            </div>
        </div>
        <div class="col-md-1 col-sm-1" align="center">
            <div id="Mes_7" align="center" class="fondoMenuFactor" onclick='SeleccionaMes(7);'>
                <p style="font-size:1vw;">JULIO</p>
            </div>
        </div>
        <div class="col-md-1 col-sm-1" align="center">
            <div id="Mes_8" align="center" class="fondoMenuFactor" onclick='SeleccionaMes(8);'>
                <p style="font-size:1vw;">AGOSTO</p>
            </div>
        </div>
        <div class="col-md-1 col-sm-1" align="center">
            <div id="Mes_9" align="center" class="fondoMenuFactor" onclick='SeleccionaMes(9);'>
                <p style="font-size:1vw;">SEPTIEMBRE</p>
            </div>
        </div>
        <div class="col-md-1 col-sm-1" align="center">
            <div id="Mes_10" align="center" class="fondoMenuFactor" onclick='SeleccionaMes(10);'>
                <p style="font-size:1vw;">OCTUBRE</p>
            </div>
        </div>
        <div class="col-md-1 col-sm-1" align="center">
            <div id="Mes_11" align="center" class="fondoMenuFactor" onclick='SeleccionaMes(11);'>
                <p style="font-size:1vw;">NOVIEMBRE</p>
            </div>
        </div>
        <div class="col-md-1 col-sm-1" align="center">
            <div id="Mes_12" align="center" class="fondoMenuFactor" onclick='SeleccionaMes(12);'>
                <p style="font-size:1vw;">DICIEMBRE</p>
            </div>
        </div>

    </div>
</div>

<hr />
<div id="cumplesMes"></div>
