<div class="row">
    <table width="100%" style="border:none;">
        <tr>
            <td align="left">
                <img src="~/Images/reportes.png" height='60' />
            </td>
            <td align="center">
                <h1 class="letraAzulEncabezado">REPORTES</h1>
            </td>
        </tr>
    </table>
</div>