
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        @Html.Raw(ViewBag.JavaScriptFunction)
    });
</script>

<div class="text-center">
    <h2 class="display-4" style="color: rgba(38, 112, 233, 1); "><strong>RESUMEN GESTIONES</strong></h2>
</div>

<div id="CardClasificacionSubclasificacionGestion"></div>