@model Acciones.Models.Colonia

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Colonia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreColonia" class="control-label"></label>
                <input asp-for="NombreColonia" class="form-control" />
                <span asp-validation-for="NombreColonia" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Distrito" class="control-label"></label>
                    <input asp-for="Distrito" class="form-control" />
                    <span asp-validation-for="Distrito" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Seccion" class="control-label"></label>
                    <input asp-for="Seccion" class="form-control" />
                    <span asp-validation-for="Seccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EstatusColonia" class="control-label"></label>
                    <input asp-for="EstatusColonia" class="form-control" />
                    <span asp-validation-for="EstatusColonia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaRegistro" class="control-label"></label>
                    <input asp-for="FechaRegistro" class="form-control" />
                    <span asp-validation-for="FechaRegistro" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaUltimoCambio" class="control-label"></label>
                    <input asp-for="FechaUltimoCambio" class="form-control" />
                    <span asp-validation-for="FechaUltimoCambio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UsuarioRegistroId" class="control-label"></label>
                    <input asp-for="UsuarioRegistroId" class="form-control" />
                    <span asp-validation-for="UsuarioRegistroId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<table class='table' style='width:100%; border:0px;'>
    <tr>
        <td style='width:50%;'>
            <table class='table table-bordered' style='width:100%;'>
                <tr>
                    <td style='text-align: center; padding: 5px;' class='fondoGrisLetraNegra_2' width="20%">
                        <label for="PaternoLabel">Colonia</label>
                    </td>
                </tr>
                <tr>
                    <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                        @*<input type="text" class="form-control" name="IngresaNumeroTurno" id="IngresaPaterno" />*@
                        <input type="text" id="coloniasBuscar" name="coloniasBuscar" placeholder="Escriba y seleccione de la lista la Colonia" class="form-control" />
                    </td>
                </tr>
            </table>
        </td>
        <td style='width:50%;'>
            <table class='table table-bordered' style='width:100%;'>
                <tr>
                    <td style='text-align: center; padding: 5px;' class='fondoGrisLetraNegra_2' width="20%">
                        <label for="PaternoLabel">Calle</label>
                    </td>
                </tr>
                <tr>
                    <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                        @*<input type="text" class="form-control" name="IngresaNumeroTurno" id="IngresaPaterno" />*@
                        <input type="text" id="callesBuscar" name="callesBuscar" placeholder="Escriba y seleccione de la lista la Calle" class="form-control" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<input type="text" id="hColoniaBuscar" name="hColoniaBuscar" style="display:none" />
<input type="text" id="hCalleBuscar" name="hCalleBuscar" style="display:none" />

<table class='table' style='width:100%; border:0px;'>
    <tr>
        <td style='width:50%;'>
            +
            <div style="display:none">
                <table class='table table-bordered' style='width:100%;'>
                    <tr>
                        <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                            <input type="text" class="form-control" name="IngresaNumeroTurno" id="IngresaPaterno" />
                        </td>
                    </tr>
                    <tr>
                        <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                            <input type="text" class="form-control" name="IngresaNumeroTurno" id="IngresaPaterno" />
                        </td>
                    </tr>
                    <tr>
                        <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                            <input type="text" class="form-control" name="IngresaNumeroTurno" id="IngresaPaterno" />
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td style='width:50%;'>
            +
            <div style="display:none">
                <table class='table table-bordered' style='width:100%;'>
                    <tr>
                        <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                            <input type="text" class="form-control" name="IngresaNumeroTurno" id="IngresaPaterno" />
                        </td>
                    </tr>
                    <tr>
                        <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                            <input type="text" class="form-control" name="IngresaNumeroTurno" id="IngresaPaterno" />
                        </td>
                    </tr>
                    <tr>
                        <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                            <input type="text" class="form-control" name="IngresaNumeroTurno" id="IngresaPaterno" />
                        </td>
                    </tr>
                    <tr>
                        <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                            <input type="text" class="form-control" name="IngresaNumeroTurno" id="IngresaPaterno" />
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>

<table class='table' style='width:100%; border:0px;'>
    <tr>
        <td style='width:50%;'>
            <table class='table table-bordered' style='width:100%;'>
                <tr>
                    <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                        <input type="text" class="form-control" name="IngresaNumeroTurno" id="IngresaPaterno" />
                    </td>
                </tr>
                <tr>
                    <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                        <input type="text" class="form-control" name="IngresaNumeroTurno" id="IngresaPaterno" />
                    </td>
                </tr>
                <tr>
                    <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                        <input type="text" class="form-control" name="IngresaNumeroTurno" id="IngresaPaterno" />
                    </td>
                </tr>
            </table>
        </td>
        <td style='width:50%;'>
            <table class='table table-bordered' style='width:100%;'>
                <tr>
                    <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                        <input type="text" class="form-control" name="IngresaNumeroTurno" id="IngresaPaterno" />
                    </td>
                </tr>
                <tr>
                    <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                        <input type="text" class="form-control" name="IngresaNumeroTurno" id="IngresaPaterno" />
                    </td>
                </tr>
                <tr>
                    <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                        <input type="text" class="form-control" name="IngresaNumeroTurno" id="IngresaPaterno" />
                    </td>
                </tr>
                <tr>
                    <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                        <input type="text" class="form-control" name="IngresaNumeroTurno" id="IngresaPaterno" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>