@model Acciones.Models.Peticione

@{
    ViewData["Title"] = "Edición";
}




<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        @Html.Raw(ViewBag.JavaScriptFunction)
    });
</script>

<h1>ACTUALIZACIÓN DE SOLICITUD DE APOYO</h1>

<br />

<div class="card">
    <h4 class="card-header" style='text-align: center; background-color: rgba(20, 85, 236, 0.76); color: white; border-radius: 10px 10px 10px 10px; padding: 2px;'>SOLICITUD DE APOYO</h4>
    <div class="card-body">

        <input type="hidden" asp-for="PeticionId" id="PeticionId" />
        <input type="hidden" asp-for="Folio" id="FolioOriginal" />
        @*<input type="hidden" asp-for="SolicitanteId" id="SolicitanteOriginalId" />*@
        <input type="hidden" asp-for="SolicitanteId" id="hCiudadanoSolicitanteBuscar" />
        <input type="text" id="hBeneficiarioBuscar" name="hBeneficiarioBuscar" style="display:none" />

        <table class='table table-bordered' style='width:100%;'>
            <tr>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_3v' width="10%">
                    <label for="LegislaturaLabel">Legislatura</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_2' width="15%">
                    <label for="OrigenSolicitudLabel">Origen de Solicitud</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_2' width="10%">
                    <label for="FolioLabel">Folio</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_2' width="15%">
                    <label for="FechaSolicitudLabel">Fecha Solicitud</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_2' width="15%">
                    <label for="FechaCompromisoLabel">Fecha Compromiso</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_2' width="15%">
                    <label for="FechaRecibidoLabel" id="FechaRecibidoLabel">Fecha Conclusión</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_2' width="20%">
                    <label for="EstatusLabel">Estatus</label>
                </td>
            </tr>
            <tr>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="10%">
                    <select id="LegislaturaId" class="form-control" asp-items="ViewBag.LegislaturaId"></select>
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="15%">
                    <select for="OrigenPeticion" onchange="optSelecEnOrigen();" id="OrigenPeticion" class="form-control" asp-items="ViewBag.OrigenPeticionId"></select>
                </td>

                <td style='text-align: center; background-color: white; color: black; padding: 1px;' width="10%">
                    <input asp-for="Folio" id="FolioPeticionEdicion" class="form-control" />
                </td>

                <td style='text-align: center; background-color: white; color: black; padding: 1px;' width="15%">
                    <div class='input-group date' id='datepickerFSolicitud'>
                        <input asp-for="FechaSolicitud" id="FechaSolicitud" class="form-control" />
                    </div>
                </td>

                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="15%">
                    <div class='input-group date' id='datetimepickerFCompromiso'>
                        <input asp-for="FechaCompromiso" id="FechaCompromiso" class="form-control" />
                    </div>
                </td>

                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="15%">
                    <div class='input-group date' id='datetimepickerFConclusion'>
                        <input asp-for="FechaConclusion" id="FechaConclusion" class="form-control" />
                    </div>
                </td>

                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <select asp-for="Estatus" class="form-control" asp-items="ViewBag.Estatus" id="estatusPeticion"></select>
                </td>
            </tr>
        </table>

        <div class="alert alert-danger" id="msgAlerta_Origensolicitud" style="display: none;" align="center">
            <strong>Debe seleccionar Origen de Solicitud</strong>
        </div>
        <div class="alert alert-danger" id="msgAlerta_Fechasolicitud" style="display: none;" align="center">
            <strong>Debe seleccionar Fecha de Solicitud</strong>
        </div>

        <table class='table table-bordered' style='width:100%;' id="tablaCiudadano">
            <tr style="padding:2px;">
                <td style='text-align: center; vertical-align: middle;' class='fondoAzul_p_LetraNegra_2' width="25%">
                    <label for="SolicitanteLabel" class="control-label">Solicitante</label>
                </td>
                <td style='text-align: left; vertical-align: middle; background-color: white; color: black; padding: 1px; ' width="25%">
                    <input type='text' id='NombreCiudadanoSolicitante' style='width:100%; max-width:100%;' value="@ViewBag.NomSolicitante" />
                </td>
                <td style='text-align: center; vertical-align: middle; padding: 2px;' class='fondoAzul_p_LetraNegra_3' width="25%">
                    <label for="ResponsableLabel" class="control-label">Responsable</label>
                </td>
                <td style='text-align: center;' width="25%">
                    @*<input class="form-control" type='text' id='ResponsableSolicitante' style='width:100%; max-width:100%;' />*@
                    <select asp-for="ResponsableID" class="form-control" asp-items="ViewBag.ResponsableAtenderId" id="responsableId"></select>
                </td>
            </tr>
        </table>

        <div class="alert alert-danger" id="msgAlerta_Solicitante" style="display: none;" align="center">
            <strong>Debe seleccionar un Solicitante</strong>
        </div>

        @if (Model.OrigenPeticionId == 3)
        {
            <table class='table table-bordered' style='width:100%;' id="tablaAsociacion">
                <tr style="padding:2px;">
                    <td style='text-align: center; vertical-align: middle;' class='fondoGrisLetraNegra_2h' width="30%">
                        <label for="AsociacionLabel" class="control-label">Asociación</label>
                    </td>
                    <td style='text-align: left; vertical-align: middle; background-color: white; color: black; padding: 1px; ' width="70%">
                        <select asp-for="AsociacionId" id="AsociacionId" class="form-control" asp-items="ViewBag.Asociaciones"></select>
                    </td>
                </tr>
            </table>
        }
        else
        {
            <table class='table table-bordered' style='width:100%;display:none;' id="tablaAsociacion">
                <tr style="padding:2px;">
                    <td style='text-align: center; vertical-align: middle;' class='fondoGrisLetraNegra_2h' width="30%">
                        <label for="AsociacionLabel" class="control-label">Asociación</label>
                    </td>
                    <td style='text-align: left; vertical-align: middle; background-color: white; color: black; padding: 1px; ' width="70%">
                        <select asp-for="AsociacionId" id="AsociacionId" class="form-control" asp-items="ViewBag.Asociaciones"></select>
                    </td>
                </tr>
            </table>

        }
        <div class="alert alert-danger" id="msgAlerta_Asociacion" style="display: none;" align="center">
            <strong>Debe seleccionar una Asociación</strong>
        </div>




        @*Inicio Sección de Mensajes*@



        <div class="alert alert-danger" id="msgCategoriaSubcategoria" style="display: none;" align="center">
            <strong>Cada Categoría debe contener una Subcategoría!</strong>
        </div>

        @*Fin Sección de Mensajes*@

        <table class='table table-bordered' style='width:100%;'>
            <tr>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_2' width="70%">
                    <label for="ColoniaLabel" id="DescripcionLabel">Descripción</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_2' width="30%">
                    <label for="ColoniaLabel" id="CostoLabel">Costo</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoAzul_p_LetraNegra_2' width="10%">
                    <label for="ColoniaLabel" id="HitoLabel">Hito</label>
                </td>
            </tr>
            <tr>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="70%">
                    <textarea asp-for="Descripcion" id="DescripcionApoyo" name="DescripcionApoyo" rows="3" style="width:100%; max-width:100%;" oninput=onInputDescripcion(event)></textarea>
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="30%">
                    <table width='100%' style=' border-color: #c1c4c9;'>
                        <tr>
                            <td width='20%' style='background-color: #c1c4c9; border-radius: 10px 0px 0px 10px; text-align:center;'>$</td>
                            <td width='80%' style='text-align:left;'>
                                <input asp-for="Costo" id="CostoApoyoEdit" class="form-control" onkeypress="return isNumber(event)" />
                            </td>
                        </tr>
                    </table>
                </td>
                <td style='text-align: center; vertical-align: middle; background-color: white; color: black; padding: 2px;' width="10%">
                    @if (Model.Hito == 1)
                    {
                        <input type='checkbox' id='cboxHito' checked />
                    }
                    else
                    {
                        <input type='checkbox' id='cboxHito' />
                    }
                </td>
            </tr>
        </table>




        <input type="text" id="hPeticionId" name="hPeticionId" style="display:none" />

    </div>
</div>

<div>
    <div class="alert alert-success" id="mensajeAlerta_OK" style="display:none;" align="center">
        <strong>Los Datos Fueron Guardados</strong>
    </div>
    <div class="alert alert-danger" id="mensajeAlerta_Error" style="display:none;" align="center">
        <strong>Los Datos NO Fueron Guardados</strong>
    </div>

    <div class="alert alert-danger" id="msgAlertNumFolioExistente" style="display:none;" align="center">
        <strong>Este FOLIO ya existe</strong>
    </div>

    <div class="alert alert-success" id="msg_OKCatSubCat" style="display:none;" align="center">
        <strong>Categoría y SubCategoría Fueron Guardados</strong>
    </div>
    <div class="alert alert-danger" id="msg_ErrorCatSubCat" style="display:none;" align="center">
        <strong>No se guardó Categoría y SubCategoría</strong>
    </div>
</div>
<br />
<div class="centrarVH">
    <button type='button' onclick='GuardarActualizacionPeticion(@Model.PeticionId);' class='BotonNaranjaClaro redondeada'>ACTUALIZAR</button>&nbsp;
</div>

@*<a asp-action="Index"><button class="btn btn-dark redondeada">CANCELAR</button> </a>*@

<hr />

<input type="text" id="hCategoriaBuscar" name="hCategoriaBuscar" style="display:none" />
<input type="text" id="hSubCategoriaBuscar" name="hSubCategoriaBuscar" style="display:none" />






@*---------Modal Seleccionar y Subir Archivo Peticiones ---------*@
<div class="modal" id="ModalSeleccionarArchivosPeticiones" tabindex="-2" role="dialog" aria-labelledby="ModalSeleccionarArchivosPeticiones">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="centrarVH">
                    <span style='font-size:25px; cursor:pointer' id="referenciaRequisito" class="badge"></span>
                </p>
                <p>
                    <h4 id="idTituloSubirArchivosPeticiones" class="modal-title" style="padding-left:10px;"><srong>Documento Anexos de Solicitud de Apoyo</srong></h4>
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class='far fa-times-circle fa-lg' title='Cerrar'></span>
                </button>
            </div>
            <div class="modal-body">
                <br />
                <div class="custom-file">
                    <input type="file" multiple class="custom-file-input" id="FileUploadFormFileApoyos" lang="es" placeholder="">
                    <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                </div>

                <input id="HiddenPeticionId" type="hidden" name="HiddenPeticionId" value="">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="subirArchivosApoyoButton('FileUploadFormFileApoyos')" class="btn btn-dark">Subir</button>
            </div>
        </div>
    </div>
</div>

@*---------Modal Seleccionar y Subir Archivo Petición-Bitacora ---------*@
<div class="modal" id="ModalSeleccionarArchivosPeticionesBitacora" tabindex="-2" role="dialog" aria-labelledby="ModalSeleccionarArchivosPeticionesBitacora">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="centrarVH">
                    <span style='font-size:25px; cursor:pointer' id="referenciaArchBitacora" class="badge"></span>
                </p>
                <p>
                    <h4 id="idTituloSubirArchivosPeticionesBitacora" class="modal-title" style="padding-left:10px;"><srong>Documento Anexos de Actividad de Seguimiento de Apoyos</srong></h4>
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class='far fa-times-circle fa-lg' title='Cerrar'></span>
                </button>
            </div>
            <div class="modal-body">
                <br />
                <div class="custom-file">
                    <input type="file" multiple class="custom-file-input" id="FileUploadFormFilePeticionBitacora" lang="es" placeholder="">
                    <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                </div>

                <input id="HiddenPeticionActId" type="hidden" name="HiddenPeticionActId" value="">
                <input id="HiddenPeticionBitacoraId" type="hidden" name="HiddenPeticionBitacoraId" value="">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="subirArchivosPeticionBitacoraButton('FileUploadFormFilePeticionBitacora')" class="btn btn-dark">Anexar Archivo</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex">
                <ul id="tabsJustified" class="nav nav-pills flex-column" style="background-color: rgba(220,223,226,.8);">
                    <li class="nav-item"><a id="opc_1" href="" data-target="#home1" data-toggle="tab" class="nav-link small text-uppercase active" style="border: solid 1px #D0D6DE; border-left-color: dimgrey; border-left-width: 3px; ">CATEGORÍA</a></li>
                    <li class="nav-item"><a id="opc_2" href="" data-target="#profile1" data-toggle="tab" class="nav-link small text-uppercase" style="border: solid 1px #D0D6DE; border-left-color: dimgrey; border-left-width: 3px; ">ARCHIVOS</a></li>
                    <li class="nav-item"><a id="opc_3" href="" data-target="#messages1" data-toggle="tab" class="nav-link small text-uppercase" style="border: solid 1px #D0D6DE; border-left-color: dimgrey; border-left-width: 3px; ">BENEFICIARIOS</a></li>
                    <li class="nav-item"><a id="opc_4" href="" data-target="#messages2" data-toggle="tab" class="nav-link small text-uppercase" style="border: solid 1px #D0D6DE; border-left-color: dimgrey; border-left-width: 3px; ">SEGUIMIENTO</a></li>
                </ul>
                <div class="tab-content border rounded p-3 w-100" style="background-color: rgba(181, 185, 195, 0.3); ">
                    <div id="home1" class="tab-pane fade active show">
                        <h4 class="card-header" style='text-align: center; background-color: rgba(19, 104, 173, 0.82); color: white; border-radius: 10px 10px 10px 10px; padding: 2px;'>CATEGORÍA Y SUBCATEGORÍA</h4>
                        <div id="divCatSubCatNPeticion"></div>
                    </div>
                    <div id="profile1" class="tab-pane fade">
                        <h4 class="card-header" style='text-align: center; background-color: rgba(19, 104, 173, 0.82); color: white; border-radius: 10px 10px 10px 10px; padding: 2px;'>ARCHIVOS ANEXOS</h4>
                        <div id="divArchivosAnexosNPeticion"></div>
                    </div>
                    <div id="messages1" class="tab-pane fade">
                        <h4 class="card-header" style='text-align: center; background-color: rgba(19, 104, 173, 0.82); color: white; border-radius: 10px 10px 10px 10px; padding: 2px;'>BENEFICIARIOS</h4>
                        <div id="divBeneficiariosNPeticion"></div>
                    </div>
                    <div id="messages2" class="tab-pane fade">
                        <h4 class="card-header" style='text-align: center; background-color: rgba(19, 104, 173, 0.82); color: white; border-radius: 10px 10px 10px 10px; padding: 2px;'>SEGUIMIENTO</h4>
                        <div id="divBitacoraNPeticion"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">REGRESAR</a>
</div>

