@model IEnumerable<Acciones.Models.Peticione>

@{
    ViewData["Title"] = "Apoyos";
}


<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        @Html.Raw(ViewBag.JavaScriptFunction)
    });
</script>

@{
    List<SelectListItem> opcionesHito = new List<SelectListItem>();
    opcionesHito.Add(new SelectListItem() { Text = "TODO", Value = "-1" });
    opcionesHito.Add(new SelectListItem() { Text = "SI", Value = "1" });
    opcionesHito.Add(new SelectListItem() { Text = "NO", Value = "0" });
}

<div class="row">
    <table width="100%" style="border:none;">
        <tr>
            <td align="left">
                <img src="~/Images/apoyos_2.png" height='60' />
            </td>
            <td align="center">
                <h1 class="letraAzulEncabezado">APOYOS SOLICITADOS</h1>
            </td>
            <td align="right">
                <a asp-action="Create"><button class="btn BotonNaranjaClaro redondeada">NUEVO REGISTRO</button> </a>
                <button class="btn BotonNaranjaClaro" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-filter" title="Aplicar Filtro"></i>
                </button>
            </td>
        </tr>
    </table>
</div>

<p align="right">
    <label id="labelNumeroRegistros">&nbsp;</label>
</p>

<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <table class='table responsive-table table-bordered' style='width: 100%; border-color:white;'>
            <tr>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactor' width="20%">
                    <label for="LegBusqLabel">Legislatura</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactor' width="15%">
                    <label for="NumFolioBusqLabel">Folio</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactor' width="20%">
                    <label for="ClasificacionBusqLabel">Clasificación</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactor' width="20%">
                    <label for="SubcalsificacionBusqLabel" id="SubcalsificacionBusqLabel">Subclasificacion</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactor' width="25%" colspan="2">
                    <label for="FechaRegistroBusqLabel">Fecha Registro</label>
                </td>
            </tr>
            <tr>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <select id="LegBusqueda" class="form-control" asp-items="ViewBag.LegBusqueda"></select>
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="15%">
                    <input type="text" class="form-control" name="NumFolioBusqueda" id="NumFolioBusqueda" />
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <select id="ClasificacionBusqueda" class="form-control" asp-items="ViewBag.ClasificacionBusqueda"></select>
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <select id="SubclasificacionBusqueda" class="form-control" asp-items="ViewBag.SubclasificacionBusqueda" disabled></select>
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="25%" colspan="2">
                    <div class='Column centrarVH' id='datetimepicker_FiltroRangoRegistro' data-toggle='tooltip' data-placement='top' data-html='true' title='<b>De clic para seleccionar rango de fecha</b>'>
                        <input class="centrarVH" type="text" id="filtro_rangoRegistro" style='cursor: pointer; width:100%; padding-left:0px; padding-right:0px; text-align:center; outline:none;' value="" />
                    </div>
                </td>
            </tr>
            <tr>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactor' width="20%">
                    <label for="SolicitanteBusqLabel">Solicitante</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactor' width="10%">
                    <label for="EstatusBusqLabel">Estatus</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactor' width="10%">
                    <label for="HitoBusqLabel">Hito</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactor' width="20%">
                    <label for="AsociacionBusqLabel">Asociación</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactor' width="20%">
                    <label for="OrigenBusqLabel">Origen</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoObscuroLetraBlanca_2' width="20%">
                    <label for="FechaConclusionLabel">Fecha Conclusión</label>
                </td>
            </tr>
            <tr>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <input type="text" class="form-control" name="solicitanteFiltro" id="solicitanteFiltro" />
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <select id="EstatusBusqueda" class="form-control" asp-items="ViewBag.EstatusBusqueda"></select>
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="10%">
                    <select id="HitoBusqueda" class="form-control" asp-items="opcionesHito"></select>
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <select id="AsociacionBusqueda" class="form-control" asp-items="ViewBag.AsociacionBusqueda"></select>
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="10%">
                    <select id="OrigenBusqueda" class="form-control" asp-items="ViewBag.OrigenBusqueda"></select>
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <div class='Column centrarVH' id='datetimepicker_FiltroRangoConclusion' data-toggle='tooltip' data-placement='top' data-html='true' title='<b>De clic para seleccionar rango de fecha</b>'>
                        <input class="centrarVH" type="text" id="filtro_rangoConclusion" style='cursor: pointer; width:100%; padding-left:0px; padding-right:0px; text-align:center; outline:none;' value="" />
                    </div>
                </td>
            </tr>
            <tr>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactorH' width="20%">
                    <label for="TituloBusqLabel">Descripción</label>
                </td>
                <td style='text-align: center; padding: 5px;' width="20%">
                    <input type="text" class="form-control" name="descripcionFiltro" id="descripcionFiltro" />
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactorH' width="20%">
                    <label for="TituloBusqLabel">Dependencia</label>
                </td>
                <td style='text-align: center; padding: 5px;' width="20%">
                    <select id="DependenciaBusqueda" class="form-control" asp-items="ViewBag.DependenciaBusqueda"></select>
                </td>
                <td style='text-align: center; padding: 5px;' width="20%">
                    <button type='button' onclick='FiltraPeticiones();' class='btn BotonNaranjaClaro redondeada'>FILTRAR</button>&nbsp;
                    <a asp-action="Index"><button class="btn BotonNaranjaClaro redondeada">CANCELAR</button> </a>
                </td>
            </tr>

        </table>
    </div>
</div>

<input id="hideFechaInicioRegistro" type="hidden" value="">
<input id="hideFechaFinRegistro" type="hidden" value="">
<input id="hideFechaInicioConclusion" type="hidden" value="">
<input id="hideFechaFinConclusion" type="hidden" value="">

<div id="divIniciativas"></div>

<div style="width: 100%">
    <ul id="pagina-solicitudes" class="pagination-sm justify-content-end"></ul>
</div>

<div style="display: inline-block; text-align: right; width: 100%">
    <label id="labelNumeroRegistros_footer"></label>
    &nbsp;
    <label>Por Página</label>
    <SELECT id="selNumeroRegistrosXpagina" NAME="selNumeroRegistrosXpagina" SIZE=1 onChange="javascript:FiltraPeticiones();">
        <OPTION VALUE="5">5</OPTION>
        <OPTION VALUE="10" selected="selected">10</OPTION>
        <OPTION VALUE="20">20</OPTION>
        <OPTION VALUE="100">100</OPTION>
        <OPTION VALUE="200000">Todos</OPTION>
    </SELECT>
</div>


<input id="hideNumPaginas" type="hidden" value="">
<input id="hideNumRegistros" type="hidden" value="">

@*---------Modal Muestra Detalle de una Solicitud de Apoyo ---------*@

<div class="modal fade bd-example-modal-xl" id="modalMuestraDatosSolicitud" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <table width=100% style="border:none;">
                    <tr width="100%;">
                        <td align="center">
                            <h4 class="fondoMenu" id="ModalLabelConsultaSolicitud">SOLICITUD DE APOYO</h4>
                        </td>
                    </tr>
                </table>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class='far fa-times-circle fa-lg' title='Cerrar'></span>
                </button>
            </div>
            <div class="modal-body">
                <div id='divDatosSolicitud'></div>
                <hr />
                <div class="text-center">
                    <h4 style="background-color: rgba(38, 112, 233, 1); color: white;">CATEGORIA Y SUBCATEGORIA</h4>
                </div>
                <div id="divCatSubCatNPeticion"></div>
                <div class="text-center">
                    <h4 style="background-color: rgba(38, 112, 233, 1); color: white;">ARCHIVOS ANEXOS</h4>
                </div>
                <div id="divArchivosAnexosNPeticion"></div>
                <div class="text-center">
                    <h4 style="background-color: rgba(38, 112, 233, 1); color: white;">BENEFICIARIOS</h4>
                </div>
                <div id="divBeneficiariosNPeticion"></div>
                <div class="text-center">
                    <h4 style="background-color: rgba(38, 112, 233, 1); color: white;">BITÁCORA DE ACTIVIDADES</h4>
                </div>
                <div id="divBitacoraNPeticion"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn BotonNaranjaClaro" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>