@model Acciones.Models.Dependencia

@{
    ViewData["Title"] = "Create";
}

<h1>REGISTRO DE NUEVA DEPENDENCIA</h1>

<hr />
<!--<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreDependecia" class="control-label"></label>
                <input asp-for="NombreDependecia" class="form-control" />
                <span asp-validation-for="NombreDependecia" class="text-danger"></span>
            </div>-->
@*<div class="form-group">
        <label asp-for="Descripcion" class="control-label"></label>
        <input asp-for="Descripcion" class="form-control" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>*@
<!--<div class="form-group">
    <label asp-for="NombreContacto" class="control-label"></label>
    <input asp-for="NombreContacto" class="form-control" />
    <span asp-validation-for="NombreContacto" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ColoniaId" class="control-label"></label>
    <select asp-for="ColoniaId" class ="form-control" asp-items="ViewBag.ColoniaId"></select>
</div>
<div class="form-group">
    <label asp-for="CalleId" class="control-label"></label>
    <select asp-for="CalleId" class ="form-control" asp-items="ViewBag.CalleId"></select>
</div>
<div class="form-group">
    <label asp-for="NumExterior" class="control-label"></label>
    <input asp-for="NumExterior" class="form-control" />
    <span asp-validation-for="NumExterior" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="NumInterior" class="control-label"></label>
    <input asp-for="NumInterior" class="form-control" />
    <span asp-validation-for="NumInterior" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Cp" class="control-label"></label>
    <input asp-for="Cp" class="form-control" />
    <span asp-validation-for="Cp" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Telefono" class="control-label"></label>
    <input asp-for="Telefono" class="form-control" />
    <span asp-validation-for="Telefono" class="text-danger"></span>
</div>-->
@*<div class="form-group">
        <label asp-for="Estatus" class="control-label"></label>
        <input asp-for="Estatus" class="form-control" />
        <span asp-validation-for="Estatus" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Campo1" class="control-label"></label>
        <input asp-for="Campo1" class="form-control" />
        <span asp-validation-for="Campo1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Campo2" class="control-label"></label>
        <input asp-for="Campo2" class="form-control" />
        <span asp-validation-for="Campo2" class="text-danger"></span>
    </div>*@
<!--<div class="form-group">
    <label asp-for="Latitud" class="control-label"></label>
    <input asp-for="Latitud" class="form-control" />
    <span asp-validation-for="Latitud" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Longitud" class="control-label"></label>
    <input asp-for="Longitud" class="form-control" />
    <span asp-validation-for="Longitud" class="text-danger"></span>
</div>-->
@*<div class="form-group">
        <label asp-for="FechaRegistro" class="control-label"></label>
        <input asp-for="FechaRegistro" class="form-control" />
        <span asp-validation-for="FechaRegistro" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FechaUltimoCambio" class="control-label"></label>
        <input asp-for="FechaUltimoCambio" class="form-control" />
        <span asp-validation-for="FechaUltimoCambio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UsuarioRegistroId" class="control-label"></label>
        <input asp-for="UsuarioRegistroId" class="form-control" />
        <span asp-validation-for="UsuarioRegistroId" class="text-danger"></span>
    </div>*@
<!--<div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>-->

<div align="center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <table class="table" style="color:black;">
                <tbody>
                    <tr>
                        <td bgcolor="#EBF1F7" width="25%">
                            <label asp-for="NombreDependecia" class="control-label"></label>
                        </td>
                        <td width="75%" colspan="2" bgcolor="#fff">
                            <input asp-for="NombreDependecia" class="form-control" />
                            <span asp-validation-for="NombreDependecia" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EBF1F7" width="25%">
                            <label asp-for="NombreContacto" class="control-label"></label>
                        </td>
                        <td width="75%" colspan="2" bgcolor="#fff">
                            <input asp-for="NombreContacto" class="form-control" />
                            <span asp-validation-for="NombreContacto" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EBF1F7" width="25%">
                            <label asp-for="ColoniaId" class="control-label"></label>
                        </td>
                        <td width="75%" colspan="2" bgcolor="#fff">
                            <select asp-for="ColoniaId" class="form-control" asp-items="ViewBag.ColoniaId"></select>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EBF1F7" width="25%">
                            <label asp-for="CalleId" class="control-label"></label>
                        </td>
                        <td width="75%" colspan="2" bgcolor="#fff">
                            <select asp-for="CalleId" class="form-control" asp-items="ViewBag.CalleId"></select>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EBF1F7" width="25%">
                            <label asp-for="NumExterior" class="control-label"></label>
                        </td>
                        <td width="75%" colspan="2" bgcolor="#fff">
                            <input asp-for="NumExterior" class="form-control" />
                            <span asp-validation-for="NumExterior" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EBF1F7" width="25%">
                            <label asp-for="NumInterior" class="control-label"></label>
                        </td>
                        <td width="75%" colspan="2" bgcolor="#fff">
                            <input asp-for="NumInterior" class="form-control" />
                            <span asp-validation-for="NumInterior" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EBF1F7" width="25%">
                            <label asp-for="Cp" class="control-label"></label>
                        </td>
                        <td width="75%" colspan="2" bgcolor="#fff">
                            <input asp-for="Cp" class="form-control" />
                            <span asp-validation-for="Cp" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EBF1F7" width="25%">
                            <label asp-for="Email" class="control-label"></label>
                        </td>
                        <td width="75%" colspan="2" bgcolor="#fff">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EBF1F7" width="25%">
                            <label asp-for="Telefono" class="control-label"></label>
                        </td>
                        <td width="75%" colspan="2" bgcolor="#fff">
                            <input asp-for="Telefono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EBF1F7" width="25%">
                            <label asp-for="Latitud" class="control-label"></label>
                        </td>
                        <td width="75%" colspan="2" bgcolor="#fff">
                            <input asp-for="Latitud" class="form-control" />
                            <span asp-validation-for="Latitud" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EBF1F7" width="25%">
                            <label asp-for="Longitud" class="control-label"></label>
                        </td>
                        <td width="75%" colspan="2" bgcolor="#fff">
                            <input asp-for="Longitud" class="form-control" />
                            <span asp-validation-for="Longitud" class="text-danger"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div align="right">
                <div class="row">
                    <div>
                        <button class="btn .btn-default" type="button" onclick="location.href='@Url.Action("Index", "Dependencias")'">Cancelar</button>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
