@model IEnumerable<Acciones.Models.Evento>

@{
    ViewData["Title"] = "Eventos";
}

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        @Html.Raw(ViewBag.JavaScriptFunction)
    });
</script>


<style>
    .circulo {
        background-color: white;
        border-radius: 50%;
        border: 1px solid #c6d9ec;
        padding: 10px;
    }

        .circulo:hover {
            /*text-decoration: none;*/
            background-color: white;
        }

    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        /*        width: 50px;
    */
    }

        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
</style>

@{
    List<SelectListItem> estatusEvento = new List<SelectListItem>();
    estatusEvento.Add(new SelectListItem() { Text = "TODO", Value = "-1" });
    estatusEvento.Add(new SelectListItem() { Text = "SIN ESTATUS", Value = "0" });
    estatusEvento.Add(new SelectListItem() { Text = "PLANEADO", Value = "1" });
    estatusEvento.Add(new SelectListItem() { Text = "REALIZADO", Value = "2" });
    estatusEvento.Add(new SelectListItem() { Text = "POSPUESTO", Value = "3" });
    estatusEvento.Add(new SelectListItem() { Text = "CANCELADO", Value = "4" });
}


<div class="row">
    <table width="100%" style="border:none;">
        <tr>
            <td width="20%" align="left" style="padding-left:20px;">
                <img src="~/Images/eventos.png" height='60' style='border: none; border-radius: 0px; padding: 0px;'/>
            </td>
            <td width="70%" align="center">
                <h1 class="letraAzulEncabezado">EVENTOS</h1>
            </td>
            <td width="10%" align="right">
                <div class="row">
                    <a asp-action="Create" role='button'>
                        <i class="circulo fas fa-plus-circle" data-toggle='tooltip' data-placement='top' data-html='true' title="Nuevo Registro de Evento"></i>
                    </a>
                    <a data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample'>
                        <i class="circulo fas fa-filter" data-toggle='tooltip' data-placement='top' data-html='true' title="Aplicar Filtro"></i>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>

<p align="right">
    <label id="labelNumeroRegistros">&nbsp;</label>
</p>

<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <table class='table responsive-table table-bordered' style='width:100%;'>
            <tr>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactor' width="20%">
                    <label for="LegBusqLabel">Legislatura</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactor' width="20%">
                    <label for="NumFolioBusqLabel">Folio</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactor' width="20%">
                    <label for="EstatusBusqLabel">Estatus</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactor' width="20%">
                    <label for="TipoBusqLabel" id="TipoBusqLabel">Tipo</label>
                </td>
            </tr>
            <tr>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <select id="LegEventosBusqueda" class="form-control" asp-items="ViewBag.LegBusqueda"></select>
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <input type="text" class="form-control" name="NumFolioBusqueda" id="NumFolioBusqueda" />
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <select id="EstatusEventoBusqueda" class="form-control" asp-items="estatusEvento"></select>
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <select id="TipoEventoId" class="form-control" asp-items="ViewBag.TiposEvento"></select>
                </td>
            </tr>
            <tr>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactor' width="20%">
                    <label for="SolicitanteBusqLabel">Colonia</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactor' width="10%">
                    <label for="EstatusBusqLabel">Descripción</label>
                </td>
                <td style='text-align: center; padding: 5px;' class='fondoMenuFactor' width="20%">
                    <label for="FechaLabel">Fecha</label>
                </td>
            </tr>
            <tr>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <input type="text" class="form-control" name="coloniaFiltro" id="coloniaFiltro" />
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <input type="text" class="form-control" name="descripcionFiltro" id="descripcionFiltro" />
                </td>
                <td style='text-align: center; background-color: white; color: black; padding: 2px;' width="20%">
                    <div class='Column centrarVH' id='datetimepicker_FiltroFechaEvento' data-toggle='tooltip' data-placement='top' data-html='true' title='<b>De clic para seleccionar rango de fecha</b>'>
                        <input class="centrarVH" type="text" id="filtro_rangoFechaEvento" style='cursor: pointer; width:100%; padding-left:0px; padding-right:0px; text-align:center; outline:none;' value="" />
                    </div>
                </td>
                <td style='text-align: center; padding: 5px;' width="20%">
                    <button type='button' onclick='FiltraEventos();' class='btn btn-secondary'>FILTRAR</button>&nbsp;
                    <a asp-action="Index"><button class="btn btn-secondary">CANCELAR</button> </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<input id="hideFechaInicioEvento" type="hidden" value="">
<input id="hideFechaFinEvento" type="hidden" value="">

<div id="divEventos"></div>

<div style="display: inline-block; text-align: right; width: 100%">
    <ul id="pagina-solicitudes" class="pagination-sm justify-content-end"></ul>
</div>

<div align="right">
    <label id="labelNumeroRegistros_footer"></label>
    &nbsp;
    <label>Por Página</label>
    <SELECT id="selNumeroRegistrosXpagina" NAME="selNumeroRegistrosXpagina" SIZE=1 onChange="javascript:FiltraEventos();">
        <OPTION VALUE="5">5</OPTION>
        <OPTION VALUE="10" selected="selected">10</OPTION>
        <OPTION VALUE="20">20</OPTION>
        <OPTION VALUE="100">100</OPTION>
        <OPTION VALUE="200000">Todos</OPTION>
    </SELECT>
</div>


<input id="hideNumPaginas" type="hidden" value="">
<input id="hideNumRegistros" type="hidden" value="">

@*---------Modal Muestra Detalle de Evento ---------*@

<div class="modal fade bd-example-modal-xl" id="modalMuestraDatosEvento" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<table>
                        <tr width="100%;">
                            <td>
                                <h4 class="modal-title" id="ModalLabelConsultaEvento">EVENTO</h4>
                            </td>
                        </tr>
                    </table>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class='far fa-times-circle fa-lg' title='Cerrar'></span>
                </button>
            </div>
            <div class="modal-body">
                <div id='divDatosEvento'></div>
                <hr />
                <hr />
                <div class="text-center">
                    <h4 style="background-color: rgba(38, 112, 233, 1); color: white;">ARCHIVOS ANEXOS</h4>
                </div>
                <div id='ListaArchivosEventoId'></div>
                <hr />
                <div class="text-center">
                    <h4 style="background-color: rgba(38, 112, 233, 1); color: white;">ASISTENTES AL EVENTO</h4>
                </div>
                <div id='AsistenciaEventoId'></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
