<div class="row">
    <table width="100%" style="border:none;">
        <tr>
            <td align="left">
                <img src="~/Images/Proyectos_t.png" height='80' />
            </td>
            <td align="center">
                <h1 class="letraAzulEncabezado">PROYECTOS</h1>
            </td>
        </tr>
    </table>
</div>